altgraph==0.17.3
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.2.0
constantly==15.1.0
cryptography==41.0.3
daphne==4.0.0
Django==4.2.4
djangorestframework==3.14.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
msgpack==1.0.5
pefile==2023.2.7
Pillow==10.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pygame==2.5.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
pyOpenSSL==23.2.0
pyTelegramBotAPI==4.13.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
redis==5.0.0
requests==2.31.0
service-identity==23.1.0
simple-crypt==4.1.7
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
Twisted==23.8.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.7.1
tzdata==2024.1
urllib3==2.0.4
zope.interface==6.0
